body {
    background-color: black;
}

.randomCard {
    background-image: linear-gradient( #292A2D, #222327);
    height: 15rem;
    width: 73rem;
    color: white;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, #EB9514 , #1F87E7) 1;
    display: flex;
    align-items: center;
}

.randomContainer {
    margin-top: 10rem;
    margin-left: 5rem;
}

.randomTitle {
    font-size: 20px;
    padding-left: 2rem;
    padding-bottom: 1rem;
    margin-top: 0%;
}

.randomFirstRow {
    height: 15rem;
    border-right: solid 4px #AC9156;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 2rem;
}

.languageBtn {
    margin-left: 2rem;
    width: 17rem;
    height: 43px;
    border-radius: 4px;
    background-color: #222327;
    border: 1px solid white;
    color: white;
    text-align: left;
    margin-bottom: 1.5rem;
    font-size: 12px;
}

.reserveBtn {
    margin-left: 2rem;
    width: 17rem;
    height: 43px;
    border-radius: 4px;
    background-color: #222327;
    border: 1px solid white;
    color: white;
    text-align: left;
    font-size: 12px;
}

.kyuNum {
    margin-left: 2rem !important;
    width: 7rem;
    margin: 0%;
    font-size: 32px;
}

.kyuCol {
    display: flex;
    align-items: center;
}

.kataDiv {
    margin-left: 9rem;
    width: 40rem;
}

.descriptionTitle {
    font-size: 24px;
    margin: 0%;
}

.descTitle {
    margin: 0%;
    font-size: 24px;
}

.authorTitle {
    font-size: 16px;
    margin: 0%;
    margin-bottom: 0.5rem !important;
}

.randomKata {
    font-size: 24px;
    margin: 0%;
}

/* SearchComponent */

.filterTitle {
    margin-right: 17rem;
    font-size: 32px;
    color: white;
}

.searchComponent {
    margin-top: 10rem;
    width: 407px;
    height: 509px;
    background-color: #16171B;
    border: 2px solid white;
    border-radius: 1rem;
    text-align: center;
}

.inputBox {
    width: 351px;
    height: 43px;
    background-color: #222327;
    border-radius: 4px;
    border: 2px solid white;
    font-size: 25px;
}

.sortTitle {
    margin-right: 18rem;
    font-size: 20px;
    color: white;
}

.dropdownBox {
    width: 351px;
    height: 43px;
    background-color: #222327;
    border-radius: 4px;
    border: 2px solid white;
    font-size: 12px;
    color: white;
}

.lanuageTitle {
    margin-right: 16rem;
    font-size: 20px;
    color: white;
}

.diffTitle {
    margin-right: 17rem;
    font-size: 20px;
    color: white;
}

.dropdownItem {
    color: white;
    text-decoration: none;
}

.placeHolder {
    text-align: left !important;
}


